version: '3.7'

services:
  searxng:
    container_name: searxng
    image: searxng/searxng:latest
    ports:
      - "8081:8080"
    volumes:
      - ./searxng:/etc/searxng:rw
    environment:
      - SEARXNG_BASE_URL=http://localhost:8080/
    networks:
      - anuu-net
    restart: always

networks:
  anuu-net:
    driver: bridge
